.git
.github
.idea

.env
.venv
venv

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

node_modules
miniapp/node_modules
miniapp/dist

backend/.venv
backend/__pycache__
backend/app/__pycache__
backend/app/**/__pycache__
backend/tests/__pycache__

bot/.venv
bot/__pycache__
bot/app/__pycache__
bot/app/**/__pycache__

dist
build

.DS_Store