; api

APP_NAME=SaltAI Cloud
APP_ENV=local
DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_DB=salt_cloud
POSTGRES_USER=salt
POSTGRES_PASSWORD=salt
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://salt:salt@postgres:5432/salt_cloud

; bot

TELEGRAM_BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE

SALTAI_CLOUD_BASE_URL=http://localhost:8000
SALTAI_CLOUD_API_PREFIX=/api/v1
SALTAI_CLOUD_API_TOKEN=PASTE_BACKEND_API_TOKEN_HERE

SALTAI_DEFAULT_PROJECT_ID=PASTE_PROJECT_ID_HERE
SALTAI_MINI_APP_URL=

SALTAI_BOT_POLLING_TIMEOUT=20
SALTAI_BOT_RUNS_LIMIT=10
SALTAI_BOT_ARTIFACTS_LIMIT=10